# Ghostfolio core
ACCESS_TOKEN_SALT=__GF_ACCESS_TOKEN_SALT__
JWT_SECRET_KEY=__GF_JWT_SECRET_KEY__
ROOT_URL=http://localhost:3333

# Database
POSTGRES_DB=ghostfolio
POSTGRES_USER=ghostfolio
POSTGRES_PASSWORD=__GF_POSTGRES_PASSWORD__
DATABASE_URL=postgresql://ghostfolio:__GF_POSTGRES_PASSWORD__@ghostfolio-postgres:5432/ghostfolio?sslmode=prefer

# Redis
REDIS_HOST=ghostfolio-redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=__GF_REDIS_PASSWORD__

# Optional feature toggles
ENABLE_FEATURE_AUTH_TOKEN=true
PORT=3333
HOST=0.0.0.0
