# Required by Ignidash self-hosted mode
SELF_HOSTED=true
CONVEX_SELF_HOSTED_URL=http://ignidash-convex-backend:3210
CONVEX_SELF_HOSTED_ADMIN_KEY=__IGNI_CONVEX_ADMIN_KEY__
NEXT_PUBLIC_CONVEX_URL=http://localhost:3210
NEXT_PUBLIC_CONVEX_SITE_URL=http://localhost:3211
SITE_URL=http://localhost:3000
BETTER_AUTH_SECRET=__IGNI_BETTER_AUTH_SECRET__
CONVEX_API_SECRET=__IGNI_CONVEX_API_SECRET__

# Optional app behavior
NODE_ENV=production
